rvl_alias "pll_clki" "pll_clki";
RVL_ALIAS "pll_clki" "pll_clki"; 
BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
# Lattice Preference FIle
# Internal clock (8 MHz) 
LOCATE COMP "pll_clki" SITE "L1" ;
IOBUF PORT "pll_clki" IO_TYPE=LVCMOS33 ;
# External SPI clock
LOCATE COMP "spi_clk_i" SITE "F8" ;
IOBUF PORT "spi_clk_i" IO_TYPE=LVCMOS33 ;
# Inputs
LOCATE COMP "reset_n_i" SITE "G8" ;
IOBUF PORT "reset_n_i" IO_TYPE=LVCMOS33 ;
LOCATE COMP "spi_cs_i" SITE "E7" ;
IOBUF PORT "spi_cs_i" IO_TYPE=LVCMOS33 ;
LOCATE COMP "spi_mosi_i" SITE "F9" ;
IOBUF PORT "spi_mosi_i" IO_TYPE=LVCMOS33 ;
# Outputs
LOCATE COMP "step_o" SITE "E6" ;
IOBUF PORT "step_o" IO_TYPE=LVCMOS33 ;
# Other (Debugg...)
BLOCK JTAGPATHS ;
