BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
# Internal clock (8 MHz)
LOCATE COMP "cpt_clk_i" SITE "L1" ;
IOBUF PORT "cpt_clk_i" IO_TYPE=LVCMOS33 ;
FREQUENCY PORT "spi_clk_i" 8.000000 MHz ;
USE PRIMARY NET "cpt_clk_i_c" ;				#(optional)
# External SPI clock
LOCATE COMP "spi_clk_i" SITE "F8" ;
IOBUF PORT "spi_clk_i" IO_TYPE=LVCMOS33 ;
FREQUENCY PORT "spi_clk_i" 12.000000 MHz ;
# Inputs
IOBUF PORT "spi_clk_i" IO_TYPE=LVCMOS33 ;
LOCATE COMP "reset_n_i" SITE "G8" ;
IOBUF PORT "reset_n_i" IO_TYPE=LVCMOS33 ;
LOCATE COMP "spi_cs_i" SITE "E7" ;
IOBUF PORT "spi_cs_i" IO_TYPE=LVCMOS33 ;
LOCATE COMP "spi_mosi_i" SITE "F9" ;
IOBUF PORT "spi_mosi_i" IO_TYPE=LVCMOS33 ;
# Outputs
LOCATE COMP "step_o" SITE "E6" ;
IOBUF PORT "step_o" IO_TYPE=LVCMOS33 ;
